<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390092807438-u1qo6e81emvt0kaus9op2ibdo5ugrhp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390092807438-u1qo6e81emvt0kaus9op2ibdo5ugrhp9</string>
	<key>API_KEY</key>
	<string>AIzaSyA7ZAgxDo8oghXqq6S_9az6jdhxLAdC_js</string>
	<key>GCM_SENDER_ID</key>
	<string>390092807438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bseyha.OMDB</string>
	<key>PROJECT_ID</key>
	<string>omdbproject-8a9ed</string>
	<key>STORAGE_BUCKET</key>
	<string>omdbproject-8a9ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390092807438:ios:fed09fb8617b487723cb5f</string>
</dict>
</plist>